.mt-3 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: .5rem;
}

.pagination {
  list-style: none;
}

.page-link{
  background-color: #9b4dca;
    border: 0.1rem solid #9b4dca;
    border-radius: .4rem;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    align-items: center;
    padding-top:2rem;
    height: 2.1rem;
    padding-top: 0.5rem;
    color:black;
    align-items: flex-start;
    padding: 0 3.0rem;
    margin-left: 1rem
    ;
  
}
.pagination li {
  display: inline-block;
}

.list-group-item{

  list-style: none;
}
.search{
  background-color: transparent;
    border: 0.1rem solid #007bff;
    border-radius: .4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem .7rem;
    width: 100%;
}